/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: 'return_of_ganonregular';
    src: url('../font/returnofganon-webfont.eot');
    src: url('../font/returnofganon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/returnofganon-webfont.woff2') format('woff2'),
         url('../font/returnofganon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
#view{
  overflow: hidden;
  position: absolute;
  top :15%;
  left :30%;
}
#show{
  position: relative;
  overflow: hidden;
	z-index: 2;
}
#limitePersonnage, #objet, #spriteLink, #spriteObjet, #heart0, #heart1, #heart2, #heart3, #heart4, #life0, #life1, #life2, #life3, #life4, #carac, #shadow, #spriteShadow{
  position: absolute;
}
#objet, #carac, #life0, #life1, #life2, #life3, #life4, #shadow{
  overflow: hidden;
}
#life0, #life1, #life2, #carac{
  z-index: 4;
}
#life3, #life4, #shadow, #objet, #spriteObjet{
  z-index: -1;
}
#carac{
  width: 200px;
  height: 50px;
}
#shadow{
	width: 16px;
  height: 16px;
}
